
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Delícias da Jess</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="Keywords" content="">
    <meta name="Description" content="">

    <link href="{{ asset('/assets/css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('/assets/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/assets/css/animate.css') }}" rel="stylesheet">

</head>
<body>

<div class="main-container">

    <!-- Header -->
    <div class="header">
        <div class="container">

            <h1>
                <a href="/">Delícias da Jess</a>
            </h1>

            <!-- Links -->
            {#<div class="links">#}

                {#<!-- Main Menu -->#}
                {#<ul class="menu">#}

                    {#<li><a href="#about" title="#">Sobre Nós</a></li>#}
                    {#<li><a href="#"><i class="fa fa-facebook fa-1x"></i></a></li>#}
                    {#<li><a href="#"><i class="fa fa-instagram fa-1x"></i></a></li>#}
                {#</ul>#}
                {#<!-- Main Menu Ends! -->#}

            {#</div>#}
            <!-- Links Ends! -->

        </div>
    </div>
    <!-- Header ends -->

    <!-- Slider -->
    {#<div class="slider">#}
        {#<div class="container">#}

            {#<ul class="slides">#}
                {#<li>#}

                    {#<div class="item">#}
                        {#<span>Animal Hotel</span><br />safe and fun experience#}
                        {#<img src="{{ asset('/assets/images/slider_1.png') }}" alt="" />#}
                    {#</div>#}

                {#</li>#}

                {#<li>#}

                    {#<div class="item">#}
                        {#<span>Pet boarding</span><br />Cat and Dog boarding#}
                        {#<img src="{{ asset('/assets/images/slider_0.png') }}" alt="" />#}
                    {#</div>#}

                {#</li>#}
            {#</ul>#}

        {#</div>#}
    {#</div>#}
    <!-- Slider Ends! -->

    <!-- page part -->
    <div class="page">
        <div class="container">

            <div class="mission">
                <a class="anchor" id="services"></a>

                {#<p class="title">Our services include</p>#}
                <h2>Bem vindo ao Delícias da Jess</h2>

                <p>Em breve inicaremos nossas atividades na internet, trazendo para você todos os nossos deliciosos produtos.</p>

                {#<div class="help flexslider">#}

                    {#<ul>#}
                        {#<li class="home">#}
                            {#<p><strong>Pet boarding</strong></p>#}
                            {#<p>Cat and Dog boarding</p>#}
                        {#</li>#}

                        {#<li class="health">#}
                            {#<p><strong>Health and wellness</strong></p>#}
                            {#<p>24/7 vet access</p>#}
                        {#</li>#}

                        {#<li class="food">#}
                            {#<p><strong>Food, toys, treats etc.</strong></p>#}
                            {#<p>We provide everything</p>#}
                        {#</li>#}

                        {#<li class="grooming">#}
                            {#<p><strong>Pet grooming</strong></p>#}
                            {#<p>Grooming for all breeds</p>#}
                        {#</li>#}

                        {#<li class="love">#}
                            {#<p><strong>Sdoptions</strong></p>#}
                            {#<p>We foster pets available for adoption</p>#}
                        {#</li>#}

                        {#<li class="training">#}
                            {#<p><strong>Pet training</strong></p>#}
                            {#<p>Huge lush outdoor play areas</p>#}
                        {#</li>#}
                    {#</ul>#}

                {#</div>#}
                <!-- help flexslider ends! -->

            </div>

            {#<!-- Volunteer -->#}
            {#<div class="volunteer">#}
                {#<a class="anchor" id="ourteam"></a>#}

                {#<p class="title">our passionate team</p>#}
                {#<h3>meet professionals who will care for your pet</h3>#}

                {#<p>You can relax as our highly trained team members watch over your pet.</p>#}

                {#<div class="volunteers">#}
                    {#<ul>#}
                        {#<li>#}
                            {#<div>#}
                                {#<img src="{{ asset('/assets/images/vol_1.jpg') }}" alt=""/>#}
                            {#</div>#}
                            {#<strong>Jane Simpson</strong>#}
                            {#Staff member#}
                        {#</li>#}

                        {#<li>#}
                            {#<div>#}
                                {#<img src="{{ asset('/assets/images/vol_2.jpg') }}" alt=""/>#}
                            {#</div>#}
                            {#<strong>Jake Simpson</strong>#}
                            {#Animal trainer#}
                        {#</li>#}

                        {#<li>#}
                            {#<div>#}
                                {#<img src="{{ asset('/assets/images/vol_3.jpg') }}" alt=""/>#}
                            {#</div>#}
                            {#<strong>dr. Jane Simpson</strong>#}
                            {#Veterinarian, Owner/CEO#}
                        {#</li>#}

                        {#<li>#}
                            {#<div>#}
                                {#<img src="{{ asset('/assets/images/vol_1.jpg') }}" alt=""/>#}
                            {#</div>#}
                            {#<strong>Jane Simpson</strong>#}
                            {#Staff member#}
                        {#</li>#}

                        {#<li>#}
                            {#<div>#}
                                {#<img src="{{ asset('/assets/images/vol_2.jpg') }}" alt=""/>#}
                            {#</div>#}
                            {#<strong>Jake Simpson</strong>#}
                            {#Animal trainer#}
                        {#</li>#}

                        {#<li>#}
                            {#<div>#}
                                {#<img src="{{ asset('/assets/images/vol_3.jpg') }}" alt=""/>#}
                            {#</div>#}
                            {#<strong>dr. Jane Simpson</strong>#}
                            {#Veterinarian, Owner/CEO#}
                        {#</li>#}
                    {#</ul>#}
                {#</div>#}

            {#</div>#}
            {#<!-- Volunteer ends -->#}

        </div>
    </div>
    <!-- page part ends -->

    <!-- testimonials -->
    {#<div class="success-story testimonials">#}
        {#<a class="anchor" id="testimonials"></a>#}

        {#<div class="container">#}

            {#<p class="title">what our customers say</p>#}

            {#<ul>#}

                {#<li>#}
                    {#<h3>Vacation for your pet while you’re on vacation</h3>#}
                    {#<p>"Fido came home happy and we were so pleased knowing that our precious dog was cared for while we were on vacation, the staff was really helpful and friendly. We'll definitely be boarding our pup here when we travel and can't take him."</p>#}
                    {#<span>- Jane and  Max</span>#}
                {#</li>#}

                {#<li>#}
                    {#<h3>Vacation for your pet while you’re on vacation</h3>#}
                    {#<p>"Fido came home happy and we were so pleased knowing that our precious dog was cared for while we were on vacation, the staff was really helpful and friendly. We'll definitely be boarding our pup here when we travel and can't take him."</p>#}
                    {#<span>- Jane and  Max</span>#}
                {#</li>#}

            {#</ul>#}

        {#</div>#}
    {#</div>#}
    <!-- testimonials ends -->

    <!-- page -->
    {#<div class="page top-pattern">#}
        {#<div class="container">#}

            {#<div class="adopt">#}
                {#<a class="anchor" id="gallery"></a>#}

                {#<p class="title">browse our gallery</p>#}
                {#<h3>Satisfaction guaranteed</h3>#}

                <!-- menu types  -->
                {#<ul class="button-group">#}
                    {#<li><a href="#" class="active" data-filter="*">show all</a></li>#}
                    {#<li><a href="#" data-filter=".standard">standard room</a></li>#}
                    {#<li><a href="#" data-filter=".vip">VIP room</a></li>#}
                    {#<li><a href="#" data-filter=".playground">playground</a></li>#}
                    {#<li><a href="#" data-filter=".clients">our clients</a></li>#}
                {#</ul>#}
                <!-- menu types ends -->

                {#<!-- pets -->#}
                {#<div class="pets">#}

                    {#<!-- single paws_1 -->#}
                    {#<div class="single" data-group="paws_1" style="display: none">#}

                        {#<div class="image">#}
                            {#<div>#}
                                {#<img src="{{ asset('/assets/images/paws_1.jpg') }}" alt="">#}
                                {#<a data-imagelightbox="paws_1" href="images/paws_1.jpg"></a>#}
                            {#</div>#}
                            {#<a href="#" class="button">Book now</a>#}
                        {#</div>#}

                        {#<p>Max is a lovely 6 months old mixed breed puppy waiting for someone to give him forever loving home. He is well behaved and learning quickly, loves spending time with children and adults.</p>#}

                        {#<table>#}
                            {#<tr>#}
                                {#<th>Room type:</th>#}
                                {#<td>Standard</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<th>Gender:</th>#}
                                {#<td>Male</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<th>Breed:</th>#}
                                {#<td>Mixed Breed</td>#}
                            {#</tr>#}
                        {#</table>#}

                        {#<a href="#" class="close"><i class="fa fa-times-circle"></i></a>#}

                    {#</div>#}
                    {#<!-- single paws_1 ends -->#}

                    {#<!-- single paws_2 -->#}
                    {#<div class="single" data-group="paws_2" style="display: none">#}

                        {#<div class="image">#}
                            {#<div>#}
                                {#<img src="{{ asset('/assets/images/paws_2.jpg') }}" alt="">#}
                                {#<a data-imagelightbox="paws_2" href="images/paws_2.jpg"></a>#}
                            {#</div>#}
                            {#<a href="" class="button">Book now</a>#}
                        {#</div>#}

                        {#<p>Teddy is still a baby, has a lovely nature and loves to cuddle and play with other cats.</p>#}

                        {#<table>#}
                            {#<tr>#}
                                {#<th>Room type:</th>#}
                                {#<td>Standard</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<th>Gender:</th>#}
                                {#<td>Male</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<th>Breed:</th>#}
                                {#<td>Mixed Breed</td>#}
                            {#</tr>#}
                        {#</table>#}

                        {#<a href="#" class="close"><i class="fa fa-times-circle"></i></a>#}

                    {#</div>#}
                    {#<!-- single paws_2 ends -->#}

                    {#<!-- single paws_3 -->#}
                    {#<div class="single" data-group="paws_3" style="display: none">#}

                        {#<div class="image">#}
                            {#<div>#}
                                {#<img src="{{ asset('/assets/images/paws_3.jpg') }}" alt="">#}
                                {#<a data-imagelightbox="paws_3" href="images/paws_3.jpg"></a>#}
                            {#</div>#}
                            {#<a href="#" class="button">Book now</a>#}
                        {#</div>#}

                        {#<p>Jerry is looking for a quiet home, he is indoor cat, he enjoys company of people.</p>#}

                        {#<table>#}
                            {#<tr>#}
                                {#<th>Room type:</th>#}
                                {#<td>Standard</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<th>Gender:</th>#}
                                {#<td>Male</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<th>Breed:</th>#}
                                {#<td>Mixed Breed</td>#}
                            {#</tr>#}
                        {#</table>#}

                        {#<a href="#" class="close"><i class="fa fa-times-circle"></i></a>#}

                    {#</div>#}
                    {#<!-- single paws_3 ends -->#}

                    {#<!-- single paws_4 -->#}
                    {#<div class="single" data-group="paws_4" style="display: none">#}

                        {#<div class="image">#}
                            {#<div>#}
                                {#<img src="{{ asset('/assets/images/paws_4.jpg') }}" alt="">#}
                                {#<a data-imagelightbox="paws_4" href="images/paws_4.jpg"></a>#}
                            {#</div>#}
                            {#<a href="#" class="button">Book now</a>#}
                        {#</div>#}

                        {#<p>Daisy is a little shy when you first meet her but after some time her loving nature shines.</p>#}

                        {#<table>#}
                            {#<tr>#}
                                {#<th>Room type:</th>#}
                                {#<td>Standard</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<th>Gender:</th>#}
                                {#<td>Male</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<th>Breed:</th>#}
                                {#<td>Mixed Breed</td>#}
                            {#</tr>#}
                        {#</table>#}

                        {#<a href="#" class="close"><i class="fa fa-times-circle"></i></a>#}

                    {#</div>#}
                    {#<!-- single paws_4 ends -->#}

                    {#<!-- single paws_5 -->#}
                    {#<div class="single" data-group="paws_5" style="display: none">#}

                        {#<div class="image">#}
                            {#<div>#}
                                {#<img src="{{ asset('/assets/images/paws_5.jpg') }}" alt="">#}
                                {#<a data-imagelightbox="paws_5" href="images/paws_5.jpg"></a>#}
                            {#</div>#}
                            {#<a href="#" class="button">Book now</a>#}
                        {#</div>#}

                        {#<p>Bonbon is a shy 1 year old mixed breed. she loves quiet walks and napping, she is a great match for any family.</p>#}

                        {#<table>#}
                            {#<tr>#}
                                {#<th>Room type:</th>#}
                                {#<td>Standard</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<th>Gender:</th>#}
                                {#<td>Male</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<th>Breed:</th>#}
                                {#<td>Mixed Breed</td>#}
                            {#</tr>#}
                        {#</table>#}

                        {#<a href="#" class="close"><i class="fa fa-times-circle"></i></a>#}

                    {#</div>#}
                    {#<!-- single paws_5 ends -->#}

                    {#<!-- single paws_6 -->#}
                    {#<div class="single" data-group="paws_6" style="display: none">#}

                        {#<div class="image">#}
                            {#<div>#}
                                {#<img src="{{ asset('/assets/images/paws_6.jpg') }}" alt="">#}
                                {#<a data-imagelightbox="paws_6" href="images/paws_6.jpg"></a>#}
                            {#</div>#}
                            {#<a href="#" class="button">Book now</a>#}
                        {#</div>#}

                        {#<p>Jack is a typical Russell Terrier, playful, curious and full of energy. Take him walking, swimming, he loves it all. He would be a great companion for active family.</p>#}

                        {#<table>#}
                            {#<tr>#}
                                {#<th>Room type:</th>#}
                                {#<td>Standard</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<th>Gender:</th>#}
                                {#<td>Male</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<th>Breed:</th>#}
                                {#<td>Mixed Breed</td>#}
                            {#</tr>#}
                        {#</table>#}

                        {#<a href="#" class="close"><i class="fa fa-times-circle"></i></a>#}

                    {#</div>#}
                    {#<!-- single paws_6 ends -->#}

                    {#<!-- single paws_7 -->#}
                    {#<div class="single" data-group="paws_7" style="display: none">#}

                        {#<div class="image">#}
                            {#<div>#}
                                {#<img src="{{ asset('/assets/images/paws_7.jpg') }}" alt="">#}
                                {#<a data-imagelightbox="paws_7" href="images/paws_7.jpg"></a>#}
                            {#</div>#}
                            {#<a href="#" class="button">Book now</a>#}
                        {#</div>#}

                        {#<p>Rover is intelligent and loyal 8 year old senior, he loves belly rubs and laying around in the grass. He is ready to find his forever loving home.</p>#}

                        {#<table>#}
                            {#<tr>#}
                                {#<th>Room type:</th>#}
                                {#<td>Standard</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<th>Gender:</th>#}
                                {#<td>Male</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<th>Breed:</th>#}
                                {#<td>Mixed Breed</td>#}
                            {#</tr>#}
                        {#</table>#}

                        {#<a href="#" class="close"><i class="fa fa-times-circle"></i></a>#}

                    {#</div>#}
                    {#<!-- single paws_7 ends -->#}

                    {#<!-- single paws_8 -->#}
                    {#<div class="single" data-group="paws_8" style="display: none">#}

                        {#<div class="image">#}
                            {#<div>#}
                                {#<img src="{{ asset('/assets/images/paws_8.jpg') }}" alt="">#}
                                {#<a data-imagelightbox="paws_8" href="images/paws_8.jpg"></a>#}
                            {#</div>#}
                            {#<a href="#" class="button">Book now</a>#}
                        {#</div>#}

                        {#<p>Chocolate is a sweet brown Labrador boy, very affectionate and playful. Loves to be center of attention. Would be best for family without children.</p>#}

                        {#<table>#}
                            {#<tr>#}
                                {#<th>Room type:</th>#}
                                {#<td>Standard</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<th>Gender:</th>#}
                                {#<td>Male</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<th>Breed:</th>#}
                                {#<td>Mixed Breed</td>#}
                            {#</tr>#}
                        {#</table>#}

                        {#<a href="#" class="close"><i class="fa fa-times-circle"></i></a>#}

                    {#</div>#}
                    {#<!-- single paws_8 ends -->#}

                    {#<!-- single paws_9 -->#}
                    {#<div class="single" data-group="paws_9" style="display: none">#}

                        {#<div class="image">#}
                            {#<div>#}
                                {#<img src="{{ asset('/assets/images/paws_9.jpg') }}" alt="">#}
                                {#<a data-imagelightbox="paws_9" href="images/paws_9.jpg"></a>#}
                            {#</div>#}
                            {#<a href="#" class="button">Book now</a>#}
                        {#</div>#}

                        {#<p>Klara is outdoor cat, she really doesn't love other cats so need to be only cat. She loves people, and is very smart.</p>#}

                        {#<table>#}
                            {#<tr>#}
                                {#<th>Room type:</th>#}
                                {#<td>Standard</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<th>Gender:</th>#}
                                {#<td>Female</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<th>Breed:</th>#}
                                {#<td>Mixed Breed</td>#}
                            {#</tr>#}
                        {#</table>#}

                        {#<a href="#" class="close"><i class="fa fa-times-circle"></i></a>#}

                    {#</div>#}
                    {#<!-- single paws_9 ends -->#}

                {#</div>#}
                <!-- pets ends -->

                <!-- Projects List -->
                {#<div class="group">#}

                    {#<div class="standard">#}
                        {#<img src="{{ asset('/assets/images/paws_1.jpg') }}" alt="">#}
                        {#<a href="#" data-group="paws_1"><span>find out more</span></a>#}
                    {#</div>#}

                    {#<div class="standard clients">#}
                        {#<img src="{{ asset('/assets/images/paws_2.jpg') }}" alt="">#}
                        {#<a href="#" data-group="paws_2"><span>find out more</span></a>#}
                    {#</div>#}

                    {#<div class="standard clients">#}
                        {#<img src="{{ asset('/assets/images/paws_3.jpg') }}" alt="">#}
                        {#<a href="#" data-group="paws_3"><span>find out more</span></a>#}
                    {#</div>#}

                    {#<div class="vip">#}
                        {#<img src="{{ asset('/assets/images/paws_4.jpg') }}" alt="">#}
                        {#<a href="#" data-group="paws_4"><span>find out more</span></a>#}
                    {#</div>#}

                    {#<div class="vip playground">#}
                        {#<img src="{{ asset('/assets/images/paws_5.jpg') }}" alt="">#}
                        {#<a href="#" data-group="paws_5"><span>find out more</span></a>#}
                    {#</div>#}

                    {#<div class="vip playground">#}
                        {#<img src="{{ asset('/assets/images/paws_6.jpg') }}" alt="">#}
                        {#<a href="#" data-group="paws_6"><span>find out more</span></a>#}
                    {#</div>#}

                    {#<div class="vip clients">#}
                        {#<img src="{{ asset('/assets/images/paws_7.jpg') }}" alt="">#}
                        {#<a href="#" data-group="paws_7"><span>find out more</span></a>#}
                    {#</div>#}

                    {#<div class="standard clients">#}
                        {#<img src="{{ asset('/assets/images/paws_8.jpg') }}" alt="">#}
                        {#<a href="#" data-group="paws_8"><span>find out more</span></a>#}
                    {#</div>#}

                    {#<div class="standard">#}
                        {#<img src="{{ asset('/assets/images/paws_9.jpg') }}" alt="">#}
                        {#<a href="#" data-group="paws_9"><span>find out more</span></a>#}
                    {#</div>#}

                {#</div>#}
                {#<!-- Projects List Ends! -->#}

            {#</div>#}
            <!-- adopt Ends! -->

        {#</div>#}
    {#</div>#}

    <!-- Donate -->
    {#<div class="donate">#}

        {#<!-- Price List -->#}

        {#<a class="anchor" id="prices"></a>#}
        {#<div class="price-box">#}

            {#<div class="container">#}

                {#<p class="title">pricing and registration</p>#}
                {#<h2>So what does it all costs?</h2>#}

                {#<!-- Price Block -->#}
                {#<div class="block promo">#}
                    {#<p><span>small breed</span> $20 per day</p>#}
                    {#<ul>#}
                        {#<li>VIP room</li>#}
                        {#<li>grooming</li>#}
                        {#<li>social interaction</li>#}
                        {#<li>exercise and activity</li>#}
                    {#</ul>#}
                    {#<div class="button-holder">#}
                        {#<a href="#" class="button">book now</a>#}
                    {#</div>#}
                {#</div>#}
                {#<!-- Price Block Ends! -->#}

                {#<!-- Price Block -->#}
                {#<div class="block">#}
                    {#<p><span>medium breed</span> $30 per day</p>#}
                    {#<ul>#}
                        {#<li>VIP room</li>#}
                        {#<li>grooming</li>#}
                        {#<li>social interaction</li>#}
                        {#<li>exercise and activity</li>#}
                    {#</ul>#}
                    {#<div class="button-holder">#}
                        {#<a href="#" class="button">book now</a>#}
                    {#</div>#}
                {#</div>#}
                {#<!-- Price Block Ends! -->#}

                {#<!-- Price Block -->#}
                {#<div class="block">#}
                    {#<p><span>large breed</span> $35 per day</p>#}
                    {#<ul>#}
                        {#<li>VIP room</li>#}
                        {#<li>grooming</li>#}
                        {#<li>social interaction</li>#}
                        {#<li>exercise and activity</li>#}
                    {#</ul>#}
                    {#<div class="button-holder">#}
                        {#<a href="#" class="button">book now</a>#}
                    {#</div>#}
                {#</div>#}
                {#<!-- Price Block Ends! -->#}

            {#</div>#}
        {#</div>#}
        {#<!-- Price List ends! -->#}

        {#<div class="sponsors">#}
            {#<div class="container">#}

                {#<p class="title">our sponsors and friends</p>#}

                {#<ul>#}
                    {#<li>#}
                        {#<a href="#"><img src="{{ asset('/assets/images/photodune-dark.png') }}" alt=""/></a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="#"><img src="{{ asset('/assets/images/codecanyon-dark.png') }}" alt=""/></a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="#"><img src="{{ asset('/assets/images/grahpicriver-dark.png') }}" alt=""/></a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="#"><img src="{{ asset('/assets/images/themeforest-dark.png') }}" alt=""/></a>#}
                    {#</li>#}
                {#</ul>#}

            {#</div>#}
        {#</div>#}

        {#<!-- Types -->#}
        {#<div class="types">#}
            {#<div class="container">#}

                {#<h4>Getting started</h4>#}

                {#<p>All animals entering boarding facility need to meet certain requirements, see the list bellow. You need to fill out and sign application form.</p>#}

                {#<!-- Types of Donation -->#}
                {#<div class="section float-left">#}

                    {#<h4>Boarding Admission Requirements</h4>#}

                    {#<dl>#}
                        {#<dt>All pets must be sprayed/neutered</dt>#}
                        {#<dd>Applies to animals older then six months</dd>#}
                        {#<dt>proof of up-to-date vaccinations</dt>#}
                        {#<dd>All dogs must have current vaccination records on file with us.</dd>#}
                        {#<dt>nametag and collar</dt>#}
                        {#<dd>We also require that your pet wears a secure collar with a name tag.</dd>#}
                    {#</dl>#}

                {#</div>#}
                {#<!-- Types of Donation Ends! -->#}

                {#<!-- Wish list -->#}
                {#<div class="section float-right">#}

                    {#<h4>Our facilities include</h4>#}

                    {#<ul>#}
                        {#<li>One-acre fenced-in play area</li>#}
                        {#<li>Temperature-controlled, clean, and spacious kennels</li>#}
                        {#<li>Basic grooming services available upon request</li>#}
                        {#<li>Individual attention and play with other dogs if requested</li>#}
                        {#<li>Multi-pet discounts available</li>#}
                        {#<li>Separate accomodations for cats</li>#}
                    {#</ul>#}

                {#</div>#}
                {#<!-- Wish list Ends! -->#}

                {#<div class="button-holder">#}
                    {#<a href="#" class="button">Fill out application form</a>#}
                {#</div>#}

            {#</div>#}
        {#</div>#}
        {#<!-- Types Ends! -->#}

        {#<!-- Types II -->#}
        {#<div class="types">#}
            {#<div class="container">#}

                {#<h4>What you shoud know</h4>#}

                {#<p>If you have any concerns or questions not answered in our FAQ please contact us we will be happy to help.</p>#}

                {#<dl class="accordion">#}
                    {#<dt>Collection and delivery times</dt>#}
                    {#<dd>We provide collection and delivery services during work days from 9am to 11am</dd>#}
                    {#<dt>Do I need to make an appointment?</dt>#}
                    {#<dd>We welcome you to drop by and look around, meet the staff and see the facilities, ask any questions... If you want to reserve boarding space, you need to make an appointment by phone or email.</dd>#}
                    {#<dt>Can I bring my own food?</dt>#}
                    {#<dd>Top quality food is included in your pet's stay but if you want us to feed your pet with the food you provide we ask you to make daily portions packages.</dd>#}
                {#</dl>#}

            {#</div>#}
        {#</div>#}
        {#<!-- Types II Ends! -->#}

        {#<img src="{{ asset('/assets/images/paws_1.png') }}" class="volunteer-image" alt="">#}

    {#</div>#}
    <!-- Donate Ends! -->

    <!-- educate -->
    {#<div class="educate">#}
        {#<div class="container">#}
            {#<a class="anchor" id="about"></a>#}

            {#<p class="title">about us</p>#}
            {#<h3>Our mission, providing a home away from</h3>#}

            {#<!-- info -->#}
            {#<div class="section float-left info">#}
                {#<p>Our small business started back in 2010. We cared and welcomed pets to our home, provided exercise, grooming and love. Since then we've grown and built special facility designed to give your pet everything it will need to feel happy and safe while you are away.</p>#}

                {#<h4>We encourage you to learn more about the local animal rescue and adoption organizations we support.</h4>#}

                {#<ul>#}
                    {#<li><a href="https://en.wikipedia.org/wiki/Society_for_the_Prevention_of_Cruelty_to_Animals">SPCA, non-profit animal welfare organizations around the world</a></li>#}
                    {#<li><a href="http://www.peta.org/about-peta/">PETA People for the Ethical Treatment of Animals</a></li>#}
                {#</ul>#}
            {#</div>#}
            {#<!-- info ends -->#}

            {#<!-- news -->#}
            {#<div class="section float-right news">#}
                {#<h4>Business Hours</h4>#}

                {#<div>#}
                    {#<p><strong>winter hours</strong></p>#}
                    {#<p>January - March: Monday - Sunday 9 a.m. - 5 p.m.</p>#}
                    {#<p>Boarding drop off hours continue to run until 7 p.m. </p>#}
                {#</div>#}

                {#<div>#}
                    {#<p><strong>Regular season</strong></p>#}
                    {#<p>April - December: Monday - Sunday: 9 a.m. - 7 p.m</p>#}
                    {#<p>Check out times are between 9:00 a.m. - 11:00 a.m.</p>#}
                {#</div>#}

                {#<div class="cancelation-policy">#}
                    {#<p><strong>Cancelation Policy:</strong></p>#}
                    {#<p>Please give 24 Hour Notice of cancelation.</p>#}
                    {#<p>Thanks!</p>#}
                {#</div>#}

            {#</div>#}
            {#<!-- news ends -->#}

        {#</div>#}
    {#</div>#}
    <!-- educate ends -->

    <!-- contact -->
    {#<div class="contact">#}
        {#<div class="container">#}
            {#<a class="anchor" id="contact"></a>#}

            {#<p class="title">Contact us</p>#}
            {#<h3>Have questions or comments?</h3>#}

            {#<p><i class="fa fa-map-marker"></i> 11000 Long Address Line, Another address line</p>#}
            {#<p><i class="fa fa-phone"></i> + 381 64 123 33 222 &nbsp; + 381 64 111 22 333</p>#}

            {#<!-- Form -->#}
            {#<form action="contact.php" method="post">#}

                {#<input type="text" name="name" placeholder="Your Name *"/>#}
                {#<input type="text" name="email" placeholder="Your Email *"/>#}
                {#<textarea name="message" placeholder="Your Message *"></textarea>#}

                {#<button name="submit" type="submit">Send us a message</button>#}

            {#</form>#}
            {#<!-- Form Ends! -->#}

            {#<!-- Do Not Remove! -->#}
            {#<p class="error"></p>#}
            {#<p class="message"></p>#}
            {#<!-- Do Not Remove! Ends! -->#}

        {#</div>#}
    {#</div>#}
    <!-- contact ends -->


    <!-- footer -->
    <div class="footer">
        <div class="container">
            <p>Siga-nos: <a href="http://facebook.com/deliciasdajessrj" target="_blank"><span class="social"><img src="{{ asset('/assets/images/fb_choc.png') }}" style="width: 16px;" alt=""></span> /deliciasdajessrj</a></p>
            <p>copyright 2014. <a href="http://deliciasdajess.com.br">deliciasdajess.com.br</a></p>

        </div>
    </div>
    <!-- footer ends -->

    <!-- back to top -->
    <div class="back">
        <div class="container">

            <a href="#top"><i class="fa fa-angle-up fa-3x"></i></a>

        </div>
    </div>
    <!-- back to top ends -->

</div>

<!-- Scripts -->
<script src="{{ asset('/assets/scripts/jquery-1.11.0.min.js') }}"></script>
{#<script src="{{ asset('/assets/scripts/jquery.flexslider-min.js') }}"></script>#}
{#<script src="{{ asset('/assets/scripts/isotope.pkgd.min.js') }}"></script>#}
{#<script src="{{ asset('/assets/scripts/imagelightbox.min.js') }}"></script>#}
<script src="{{ asset('/assets/scripts/theme.js') }}"></script>
<script src="{{ asset('/assets/scripts/jquery.inview.min.js') }}"></script>
{#<script src="{{ asset('/assets/scripts/form.js') }}"></script>#}
<!-- Scripts Ends! -->

</body>
</html>
